* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  header {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  }

  header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
    display: flex; /* set the display property to flex */
    justify-content: space-between; /* align the elements horizontally */
    align-items: center; /* align the elements vertically */

  }

  header ul li {
    display: inline-block;
    padding: 12px;
  }  

  header ul li a {
    color: #004E70;
    text-decoration: none;
  }

  header ul li a img {
    vertical-align: middle;
  }

  header #mainLogo {
    display: inline-block;
    width: 200px;
  }

  header #mainLogo img {
    width: 100%;
    max-width: 170px;
  }

  footer {
    width: 100%;
    background-color: #fafafa;
    padding: 0.3em;

  }

  footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
    display: flex; /* set the display property to flex */
    justify-content: space-between; /* align the elements horizontally */
    align-items: center; /* align the elements vertically */

  }

  footer ul li {
    display: inline-block;
    padding: 12px;
  }  

  footer ul li a {
    color: #004E70;
    text-decoration: none;
  }

  footer ul li a img {
    vertical-align: middle;
  }

  footer #mainLogo {
    display: inline-block;
    width: 250px;
    margin: 0 auto;

  }

  footer #mainLogo img {
    width: 87px;
  }

  #content {
    margin-top:10px;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: row;
  }

   nav {
    max-width: 250px;
    width: 250px;
    background-color: #fafafa;
  }

  nav #mainLogo, nav ul {
    width: 204px;
    margin: 0 auto ;
  }

  nav ul a {
    text-decoration: none;
    color: #A6A6A8
  }

  nav ul a li {
    display: block;
    height: 56px;
    background-color: #fafafa;
    border-left: 3px solid #fafafa; border-top-right-radius: 36px; border-bottom-right-radius: 36px;
    margin: 1em;
    padding-left: 27px;
    padding-top: 16px;
    
  }

  nav ul a li.selected {
    background-color: #f4f4f5;
    border-left: 3px solid #8DBA38;
    color: #004E70;
    font-weight: bold;
  }

  nav ul a li img {
    vertical-align: middle;
    margin-right: 12px;
  }
  

  nav #mainLogo img {
    width: 87px;
    margin: 24px auto;
    display: block;
  }

   #mainContent {
    flex:1;
    margin: 36px 0 0 54px;
    height: auto;
  }

  #mainContent h1 {
    color: #004E70;
    margin-bottom: 1.5em ;
  }

  #mainContent h3 {
    color: #004E70;
    margin-bottom: 1.5em ;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
  }

  #toolsSection .toolsOptions {
    width: 397px;
    margin: 1em;
    padding-top: 1em;
    background-color: #fafafa;
    display: inline-block;
  } 

  #toolsSection .toolsOptions .iconSection {
   margin-left: 2em;
   display: inline-block;
   width: 50px;
  }

  #toolsSection .toolsOptions .textSection {
    display: inline-block;
    width: 280px;
    vertical-align: top;
    margin-left: 1em;
    color: #004E70;
  }

  #toolsSection .toolsOptions .textSection h2 {
    margin-bottom: 0.5em;
  }

  #toolsSection .toolsOptions .textSection button {
    margin:1em 0;
    border:#8DBA38 1px solid; padding: 0.5em;
    border-radius: 6px;
    background-color: white;
    float: right;
  }

  #toolsSection .toolsOptions .textSection button img {
    vertical-align: middle;
  }